# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

.*.sw*

# Exclude package-lock.json and pnpm-lock.yaml
package-lock.json
pnpm-lock.yaml

# Vitest test log and result files
vitest.log
vitest_output.json
vitest_result*.json

# Playwright test results
test-results

# Test Vault
